I'm only playing around for now and see which data I can query, and how :)

In [18]:
import config
import pandas as pd
import json

In [7]:
import spotipy 
from spotipy.oauth2 import SpotifyClientCredentials 
cid = config.cid
secret = config.secret
client_credentials_manager = SpotifyClientCredentials(client_id=cid, client_secret=secret) 
sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

In [47]:
results = sp.search(q='track:Johanna', type='track')

In [48]:
for track in results['tracks']['items']:
    print(track['name'], '-', track['artists'][0]['name'])

Johanna - Suki Waterhouse
Johanna - Jordan Fisher
Johanna's Dream - BALTHVS
Johanna - Jumbo
Johanna - Jamie Campbell Bower
Johanna - Jamie Campbell Bower
Visions of Johanna - Bob Dylan
Johanna - Stephen Sondheim
Johanna (Act 2 Sequence) - Josh Groban
Johanna - Jamie Campbell Bower

In [46]:
artist_name = []
track_name = []
popularity = []
track_id = []
for i in range(0,1000,50):
    track_results = sp.search(q='year:2024', type='track', limit=50,offset=i)
    for i, t in enumerate(track_results['tracks']['items']):
        artist_name.append(t['artists'][0]['name'])
        track_name.append(t['name'])
        track_id.append(t['id'])
        popularity.append(t['popularity'])

In [49]:
track_dataframe = pd.DataFrame({'artist_name' : artist_name, 'track_name' : track_name, 'track_id' : track_id, 'popularity' : popularity})
track_dataframe

,artist_name,track_name,track_id,popularity
0,Marie Ahn,Calm Vibe,1ChdbzjZXVVbFY2rAw2EvR,0
1,Jazz Orchestra,Jazzy Turntable,3x7e9uAFIEkCufw8wyKRhu,0
2,Sad Piano,To Old,6ap8G5WYlVUzXfkbdHzx5m,0
3,The Melodic Mosaic Ensemble,Frosty Forest's Grace,5LLWUwi0VcpkqC0oYoQsBP,0
4,"The meaninglessness of existence, and therefor...",Constitutional 581 Rumble 396 Flowering 901 Fr...,0YUGj02BV61w64rzTU4ZIE,0
...,...,...,...,...
995,The Age of Colored Lizards,Picture of You,2tzkzlX5tSBNoP5DFMXapL,0
996,Some Acoustic Guitar Music,Longitude Laugh,05aEcOt5xLEKrfb9KiFs0N,0
997,HERU JAST,Bila Tak Bisa Disini,5kltnZsVwVxV8OOqSoqbMY,3
998,LVISxS,euteodeio,3dSc5jWPm3GVIAGHnYII38,0
999,Clarity2x,Country Lime Tea,58seX6i5rHpfv8QfqKerfB,0